main{
    height: 90vh;
}
header {
    /* bottom: 0; */
    background: #025755;
    align-items: center;
    justify-content: center;
    margin: 0;
    display: flex;
    height: 12vh;
}
header h1 {
    font-size: 50px;
    text-align: center;
    color: #FFFFFF;
}

footer {
    background: #025755;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    padding: 10px;
    font-size: 15px;
    height: 12vh;
}

footer p {
    margin: 0 10px;
    align-items: center;
}

footer img {
    width: 30px;
    height: 30px;
}

.letra{
    width:30px;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    margin:5px;
    display:none;
}
.letraJ{
    width:30px;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    margin:5px;
}
dvdisplay{
    display:block;
}
#dvForca{
    position:absolute;
    left:150px;
}
#cabeca{
    position:absolute;
    top:0px;
    left:0px;
}
#corpo{
    position:absolute;
    top:200px;
    left:0px;
}
#bracoE{
    position:absolute;
    top:220px;
    left:-100px;
}
#bracoD{
    position:absolute;
    top:220px;
    left:105px;
}
#pernaE{
    position:absolute;
    top:390px;
    left:-100px;
}
#pernaD{
    position:absolute;
    top:390px;
    left:100px;
}